*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: #272727;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px; /* ป้องกัน nav บัง section */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background-color: #F5EFFF;
    box-shadow: 3px 3px 5px rgb(181, 97, 255);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #A594F9;
}

nav a:hover{
    background-color: #CDC1FF;
}

nav li:first-child{
    margin-right: auto;
}

/* Sidebar */
.sidebar{ 
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100vh; 
    width: 250px; 
    z-index: 999; 
    background-color: #F5EFFF;
    box-shadow: -10px 0 10px rgba(rgb(195, 0, 255), green, blue, alpha);
    display: none; 
    backdrop-filter: blur(10px); 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; }


.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}


.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


html {
    scroll-behavior: smooth;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
